doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title cash : flow
		style !{css}
	body
		div.container
			svg#stats(width="940", height="500")
		
		script var data = !{JSON.stringify(data)}; !{js}